.Square {
  text-align: center;
  border: 1px solid #2a9d8f;
  border-radius: 20%;
  background-color: #2a9d8f;
  margin: 2%;
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  cursor: pointer;
  color: white;
}

.Square:hover:before {
  content: "X";
}

.Square:disabled {
  cursor: default;
  background-color: rgba(42, 157, 143, 0.5);
}

.Square:disabled:hover:before {
  content: "";
}
