.Game {
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  min-width: 350px;
}

.Game h1 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3px;
}

.Game-boardwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Game-currentplayer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.Game-currentplayer span {
  margin: 0 10px;
}

.Game-gameover {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Game-gameover-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Game-gameover-buttons {
  width: 50%;
  margin: auto;
}

.Game-gameover-buttons button,
.Game-gameover-buttons a {
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  border: 3px solid #e76f51;
  padding: 1rem;
  background: transparent;
  user-select: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .Game {
    flex-direction: column-reverse;
  }
}
