.Board {
  display: inline-grid;
  margin: 10px;
  color: white;
}

h1 {
  color: white;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3px;
}

@media screen and (max-width: 600px) {
  .Board-complete {
    display: none;
  }
}
